<% if @article %>
  <%= form_tag({ :action => "merge_article", :id => @article.id }, :id => "merge_articles_form", :remote => true ) do %>

    <!--
      Article ID: <%= @article.id %>
      Article: <%= @article.inspect %>
    -->
    
    <div class='seperator'>
      <h4><%= _("Merge Articles") %></h4>
      <div>
        <label for="article">Article ID</label>
        <%= text_field 'merged_article', 'id', :class => 'span1', :style => ' width: 100px;', :placeholder => _('Article ID'), :name => 'merge_with' %>
      </div>
      <div>
      <%= save( _("Merge")) %>
      </div>
    </div>
  <% end %>
<% end %>
